.form-input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 1rem;
  border: 1px solid gray;
}

.submit-btn {
  background-color: #7c9af2;
  color: black;
  padding: 10px 50px;
  border: none;
  border-radius: 10rem;
  width: 100%;
}

#chat-area {
  max-height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(156, 105, 156));
  /* background-color: #7c9af2; */
}

#msg-area {
  background-color: #7c9af2;
  border-top: 1px solid black;
}

.send-msg {
  background-color: #7c9af2;
  width: 100%;
  border: none;
  color: black;
  height: 100%;
}
.rowmain{
   display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,38,43,1) 35%, rgba(0,212,255,1) 100%);

