

.form-input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 1rem;
  border: 1px solid gray;
}

.submit-btn {
  background-color: #7c9af2;
  color: black;
  padding: 10px 50px;
  border: none;
  border-radius: 10rem;
  width: 100%;
}

#chat-area {
  max-height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(156, 105, 156));
  /* background-color: #7c9af2; */
}

#msg-area {
  background-image: linear-gradient(rgb(156, 105, 156), rgb(156, 105, 156));
  border-top: 1px solid black;
}

.send-msg {
  background-image: linear-gradient(rgb(156, 105, 156), rgb(156, 105, 156));
  width: 100%;
  border: none;
  color: black;
  height: 100%;
}
.rowmain{
   display: flex;
  justify-content: center;
  align-items: center;
 background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 92%); 

}
.loginhtml{
 background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 92%); 
}
.home-heading{
  color:white;
    font-family: 'Concert One', cursive;}


